.header {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 1rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: 10rem;
  position: fixed;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(5px); /* the blur */
  -webkit-backdrop-filter: blur(5px); /* Safari support */
}

.menu {
  display: flex;
  gap: 2rem;
}
.menuH {
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: x-large;
}

.menuP {
  color: gray;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;

  padding: 1rem;
  border-radius: 10rem;
}
.active {
  color: #5b3aff !important;
  font-weight: bold;

  background-color: white;
  padding: 1rem;
  border-radius: 10rem;
}
