.section {
  /* background: rgb(244, 240, 240);
  padding: 100px 24px;
  text-align: center;
  
  border-radius: 3rem; */
  padding-top: 7rem;
  padding-bottom: 7rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 1rem;
  border-radius: 3rem;
  background: rgb(244, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.heading {
  max-width: 700px;
  margin: 0 auto 60px auto;
}

.header {
   background: linear-gradient(90deg, #fefdff 0%, rgb(227, 223, 249) 100%);
  color: grey;
  padding: 0.8rem;
  width: 7rem;
  border-radius: 2rem;
  text-align: center;

  

  
}
.subtitle{
font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: grey;
  width: min-content;
  width: 60rem;
  text-align: center;
}
.heading h2 {
  font-size: 4rem;
  font-weight: bold;
  margin: 16px 30px 8px;
  color: black;
  width: min-content;
  width: 40rem;
  text-align: center;
  
}

.heading p {
  font-size: 1.2rem;
  font-weight: 500;
   
   color: grey;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 32px;
  max-width: 1100px;
  margin: 0 auto;
}

.card {
  background: #f1effe;
  padding: 28px 24px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 240px;
  text-align: left;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-4px);
}

.text h3 {
  color: black;
  font-size: xx-large;
  margin-bottom: 8px;
}

.text p {
  color: grey;
  width: 15rem;
  font-size: large;
}

.icon {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}
