.revealBase {
  transition: all 0.8s ease-out;
  opacity: 0;
  transform: translateY(40px);
}

.reveal_up {
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  opacity: 0;
  transform: translateY(40px);
}
