.landingpageContainer {
  padding-top: 7rem;
  padding-bottom: 5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 1rem;
  border-radius: 3rem;
  background: linear-gradient(180deg, #ece6f3 0%, rgb(217, 212, 252) 100%);
  overflow: visible;
}

.landingpageMain {
  padding-top: 3rem;
}

.landingpageContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  column-gap: 7rem;
  width: 100%;
}

.titledot {
  width: 0.8rem;
  height: 0.8rem;
  background: #5b3aff;
  display: block;
  border-radius: 50%;
  margin-right: 0.5rem;
  animation: pulse 1.4s ease-in-out infinite;
  align-items: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9); /* shrink */
  }
  100% {
    transform: scale(1); /* back to normal */
  }
}

.subtitle {
  grid-column: 1;
  grid-row: 1;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: black;
  width: 50rem;
  background-color: rgba(250, 248, 248, 0.25);
  padding: 1rem;
  border-radius: 1.5rem;
  width: 25rem;
  display: flex;
  text-wrap: wrap;
}

.title {
  grid-column: 1;
  grid-row: 1;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: black;
  width: 50rem;
}
.titleblur {
  grid-column: 1;
  grid-row: 1;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: grey;
  width: 50rem;
}

.heroImage {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
}

.landingpageBtns {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  gap: 2rem;
  padding-bottom: 4rem;
}

.primaryBtn {
  background-color: white;
  color: gray;
  padding: 1rem;
  border-radius: 1rem;
  width: 10rem;
  font-size: medium;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.primaryBtn:hover {
  background: linear-gradient(90deg, #f3d55b, #f1cf4b);
  color: black;
}
.secondaryBtn {
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  width: 10rem;
  font-size: medium;
  cursor: pointer;
  border: none;
  font-weight: bold;
}
.secondaryBtn:hover {
  background: linear-gradient(90deg, #f3d55b, #f1cf4b);
  color: black;
}

/* When screen is below 900px → stack items vertically */
@media (max-width: 1450px) {
  .landingpageContent {
    column-gap: 0;
  }
  .title {
    font-size: 3rem;
    width: 80%;
  }
  .titleblur {
    font-size: 3rem;
  }
}
@media (max-width: 900px) {
  .landingpageContent {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto auto auto;
    column-gap: 0;
    row-gap: 2rem;
  }

  .heroImage {
    grid-column: 1 !important;
    grid-row: 2 !important;
    justify-self: center;
  }

  .landingpageBtns {
    grid-column: 1 !important;
    grid-row: 3 !important;
    justify-content: flex-start;
  }

  .title,
  .titleblur {
    width: 100%;
  }
}
