.section {
  background-color: rgb(
    244,
    240,
    240
  ); /* White background like the target video */
  padding: 100px 20px;
  position: relative;
  padding-top: 7rem;
  padding-bottom: 7rem;
  padding-left: 4rem;
  padding-right: 4rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
  margin-bottom: 1rem;
}

/* Container for the whole stack */
.stickyOuter {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; /* Centers the stack on the page */
  gap: 0;
}

/* THE CARD */
.stickyCard {
  position: sticky;
  top: 200px; /* Stops 100px from top of viewport */

  height: 500px; /* Must have fixed height */
  background-color: rgb(
    244,
    240,
    240
  ); /* Must match section bg to hide card behind it */

  border: 1px solid #eee;
  /* border-radius: 32px; */
  margin-bottom: 20px; /* Space between cards */
  /* box-shadow: 0 -10px 40px rgba(0,0,0,0.05); Shadow on TOP to show depth */
  box-shadow: 0 -15px 30px rgb(244, 240, 240);

  overflow: hidden;
}

/* Layout inside the card (Split View) */
.cardInner {
  display: flex;
  flex-direction: row; /* Side by side */
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0px;
  gap: 0;
}

/* Left side: Image */
.imageBox {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background-color: #f1effe;
  /* #e5e6f2; */
  padding: 40px; /* Internal padding for the phone image */
}

.imageBox img {
  max-height: 100%;
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.1));
}

/* Right side: Text */
.textBox {
  flex: 1;
  text-align: left; /* Force left alignment */
  padding: 40px;
}

.textBox h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
  line-height: 1.1;
}

.textBox p {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
}

/* Typography for the section headers */
.header {
  background: linear-gradient(to right, #f7f7f7, #e5b526);
  color: grey;
  padding: 0.8rem;
  width: 7rem;
  border-radius: 2rem;
  text-align: center;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  margin: 16px 30px 8px;
  color: black;
  width: min-content;
  width: 50rem;
  text-align: center;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: grey;
  width: min-content;
  width: 60rem;
  text-align: center;
}

/* Mobile */
@media (max-width: 768px) {
  .cardInner {
    flex-direction: column-reverse;
    padding: 30px;
    text-align: center;
  }
  .textBox {
    text-align: center;
  }
  .stickyCard {
    height: auto;
    min-height: 500px;
    top: 80px;
  }
}
